/* index */
@import "./styles/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#root {
	width: 100%;
	height: 100%;
	--bg-color:: #ffffff;
    --main-text-color: #555;
	--base-font-size: 1.25vw;
	--text-font: "Noto Sans KR",serif;
	--height-space: 20vh;
    --base-font-size: 1.25vw;
    --gutter-size: 2vw;
}

body {
    font-family: var(--text-font);
    font-size: var(--base-font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background: var(--bg-color);
    color: var(--main-text-color);
    line-height: 1.2;
	overflow-x: hidden;
}

.section {
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
}
