/* index */
@import "./styles/reset.css";

#root {
	width: 100%;
	height: 100%;
	--bg-color:: #ffffff;
    --main-text-color: #555;
	--base-font-size: 1.25vw;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	'Noto Sans KR','Nanum Gothic', sans-serif;
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	--height-space: 20vh;
    --base-font-size: 1.25vw;
    --gutter-size: 2vw;
}

body {
    font-size: var(--base-font-size);
    background: var(--bg-color);
    color: var(--main-text-color);
    line-height: 1.2;
	overflow-x: hidden;
}

.section {
	height: 100%;
	max-height: max-content;
	display: flex;
	justify-content: center;
	text-align: center;
}
